spring:
  application:
    name: patient-service

# UNCOMMENT TO USE IN MEMORY DATABASE OUTSIDE OF DOCKER
#  h2:
#    console:
#      enabled: true
#      path: /h2-console
#
#  datasource:
#    url: jdbc:h2:mem:testdb
#    driver-class-name: org.h2.Driver
#    username: sa
#    password:
#
#  jpa:
#    hibernate:
#      ddl-auto: update
#    database-platform: org.hibernate.dialect.H2Dialect
#
#  sql:
#    init:
#      mode: always

  kafka:
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.ByteArraySerializer
logging:
  level:
    root: INFO

server:
  port: 4000
